.calendar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #f4f4f4;
  list-style-type: none;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
    content: '';
  }

  &Item {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
  }

  &Day {
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1875f0;
  }

  &Header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40px;

    &Month {
      font-weight: 600;
    }
  }
}

.activeDate {
  background: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 8%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.loadData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0 auto;
}