.weatherForm {
  display: flex;
  margin-top: 20px;
  padding: 0 10px;

  button {
    width: 50px;
    margin-left: 10px;
    border-radius: 4px;
  }
}

.weatherFormInput {
  width: 100%;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
}